<div class="container">
<h1>Editar TAXA DE RISCO</h1>

<%= render 'form', risk: @risk %>

<%= link_to 'Mostrar', users_backoffice_risk_path(@risk) , class: "waves-effect green btn" %> |
<%= link_to 'Voltar', users_backoffice_risks_path , class: "waves-effect yellow btn" %>
</div>