<div class="container">

<br/>

<h1> Novo Demonstrações Financeiras</h1>

<%= render 'form', demo: @demo %>

<%= link_to 'Voltar', users_backoffice_demos_path(@demo) , class: "waves-effect yellow btn"%>

</div>