

<h1> Editar Contatos </h1>

<%= render 'form', complaint: @complaint %>

<%= link_to 'Mostrar', users_backoffice_complaint_path(@complaint),class: "waves-effect green btn"%> |
<%= link_to 'Editar', users_backoffice_complaints_path , class: "waves-effect yellow btn"%>

