<div class="mover">
 
    <% @scrs.each do |scr| %>
   

     <h3 style="color:#17375e;"> <%= scr.title %> </h3>
   

 <p style="text-align: justify" >  <%= scr.description.html_safe %> </p> 

     <% end %>


</div>
