<div class="container">

<br/>

<h1> Novo Conteudo Rodapé </h1>

<%= render 'form', about: @content %>

<%= link_to 'Voltar', users_backoffice_contents_path(@content) , class: "waves-effect yellow btn"%>

</div>