<div class="container">
<h1>Editar PRSA </h1>

<%= render 'form', prsa: @prsa %>

<%= link_to 'Mostrar', users_backoffice_prsa_path(@prsa) , class: "waves-effect green btn" %> |
<%= link_to 'Voltar', users_backoffice_prsas_path , class: "waves-effect yellow btn" %>
</div>