<div class="container">

<br/>

<h1> Novo Sobre </h1>

<%= render 'form', information: @information %>

<%= link_to 'Voltar', users_backoffice_informations_path(@information) , class: "waves-effect yellow btn"%>

</div>