<!-- FOOTER -->

 <%# @contents.each do |content| %>
<footer class="page-footer grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"> Endereço </h5>
                <p class="grey-text text-lighten-4">
                
                  <p class="white-text"> PIntos S.A - CFI </p> 
                  <p class="white-text"> Rua 13 de Maio, 154 - Centro / 64.000-150 / Teresina-PI </p> 
                  <p class="white-text"> (86) XXXX-XXXX </p> 
                
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"> Fale Conosco </h5>
                <ul>
                  <li> <a class="white-text"> 0800-XXX-XXX </a></li>
                  <li> <a class="white-text"> xxxxxxx@xxxxxx.xxx.xxx </a></li>
                
                </ul>
              </div>
            </div>
          </div>
          <%# end %>  
          <div class="footer-copyright center">
            <div class="container">
            <a class="white-text text-lighten-3"> Todos os direitos reservados a <a class="white-text text-lighten-3" href="#"> C.I Pintos 2019</a>
            <%= link_to 'settings', users_backoffice_welcome_index_path, class: "material-icons white-text right" %> 
            </div>
          </div>
        </footer>




  <!-- END FOOTER -->
