<div class="container">
<h1> Nova Publicação </h1>

<%= render 'form', publication: @publication %>

<%= link_to 'Voltar', users_backoffice_publications_path  , class: "waves-effect yellow btn"%>
</div>