
<div class="container">

  <h3 class="center-align"> Bem Vindo ao Painel Administrativo :  </h3>
  <p class="center-align"> <h5 class="center-align"> Olá, <%= current_user.email  %>  </h5> . </p>
</div>