<div class="container">
<h1>Editar Sobre</h1>

<%= render 'form', about: @about %>

<%= link_to 'Mostrar', users_backoffice_about_path(@about) , class: "waves-effect green btn" %> |
<%= link_to 'Voltar', users_backoffice_abouts_path , class: "waves-effect yellow btn" %>
</div>