  <div class="container">

  <%= image_tag('pincred_02.png', size: '1000x800', class: 'responsive-img') %>
  
  
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Conheça Nosso Portal</a>


  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center">Atenção</h4>
      <h5>A Pincred não solicita nenhum tipo de pagamento antecipado de suas operações aos clientes.</h5>
    </div>
    <div class="modal-footer">
      <a href="<%= site_welcome_index_path %> " class="modal-close waves-effect waves-green btn-flat">Acessar</a>
    </div>
  </div>

