<br>
<br>
<br>
<div class="mover"> 

<h5> Canal de Denúncias </h5>

<p style="text-align: justify; " >

Em atendimento à Resolução CMN 4.567, de 27 de abril de 2017, 
a Pincred disponibiliza este canal de comunicação por meio do qual funcionários, 
colaboradores, clientes, usuários, parceiros ou fornecedores podem reportar, 
sem a necessidade de se identificarem, situações com indícios de ilicitude de qualquer natureza, 
relacionadas às atividades da instituição. A manifestação pode ser feita através do canal abaixo:

</p>





</div> 


<%= render partial: 'users_backoffice/complaints/form'  %>

<br>
<br>
<br>