

<h1> Editar Contatos </h1>

<%= render 'form', contact: @contact %>

<%= link_to 'Mostrar', users_backoffice_contact_path(@contact),class: "waves-effect green btn"%> |
<%= link_to 'Editar', users_backoffice_contacts_path , class: "waves-effect yellow btn"%>

