@font-face { 
    font-family: 'BAHNSCHRIFT';
    src: url('app/assets/fonts');
    src: local('BAHNSCHRIFT'), url('app/assets/fonts') format('truetype');
    /* font-family: 'BAHNSCHRIFT CONDENSED'; */ 
  }  