<div class="container">
<h1>Editar FEES </h1>

<%= render 'form', fee: @fee %>

<%= link_to 'Mostrar', users_backoffice_fee_path(@fee) , class: "waves-effect green btn" %> |
<%= link_to 'Voltar', users_backoffice_fees_path , class: "waves-effect yellow btn" %>
</div>
