<!DOCTYPE html>
<html>
  <head>
    <title> Site Pincred </title>
    <%= render 'layouts/pages_layout/config_pages'%>
  </head>
  <body>
    <%= render 'layouts/pages_layout/pages_header'%>
    <%= yield %>
    <%= render 'layouts/pages_layout/pages_footer'%>
  </body>
</html>
