<!DOCTYPE html>
<html>
  <head>
    <title> Site Pincred </title>
    <%= render 'layouts/site_layout_2/config_site'%>
  </head>
    
  <body>
  
    <%= render 'layouts/site_layout_2/site_header'%>
     <%= yield %>
    <%#= render 'layouts/site_layout_2/site_footer'%> 

  </body>
  
</html>